header.header{
  @include flex($flex-col);
  background-color: $purple-clr;
  justify-content: center;
  align-items: center;
  padding-top: 13.1rem;
  height: 54.9rem;

  .header__box{
    width: 80.6rem;
    margin-top: 27.2rem;
  }
}

.header__img{
  height: 53.8rem;
  margin-top: 9.1rem;
  width: inherit;

    img{
      height: inherit;
      width: inherit;
    }
}

h1.header__text{
  font-size: $font-maxi;
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;

  span{
    display: block;
  }
}

.header__buttons-box{
  margin-left: 16.4rem;
  padding-top: 4.5rem;

  .header__btn{
    width: 22rem;
    box-shadow: 4px 6px 27px -8px rgba($black-clr,.45);
  }

  button:first-child{
    margin-right: 6rem;
  }

  button:nth-child(2){
    background-color: transparent;
  }
}

//screens 1194 x 1532
@media (min-width: 835px) and (max-width: 1194px){
  header.header{
    height: 41.8rem;

      .header__text{
        position: relative;
        top: -1.4rem;
        font-size: $font-larger-md-q;
      }

      .header__btn{
        width: 18.3rem;
      }

      .header__box{
        width: 66.8rem;
        margin-top: 30.1rem;
        align-self: center;

          .header__buttons-box{
            position: relative;
            top: -4.7rem;
            height: 10.2rem;
            margin-left: 12.4rem;
          }

          .header__img{
            height: 44.7rem;
            img{
              margin-top: -12.5rem;
            }
          }
      }
    }
  }

  //screens 834 x 1501
  @media (min-width: 414px) and (max-width: 900px){
    header.header{
      height: 21.3rem;
      padding-top: 16rem;

      .header__box{
        width: 47rem;
        margin-top: 40.6rem;

        .header__text{
          font-size: 2.3rem;
          top: -23.5rem;
        }

        .header__buttons-box{
          width: 32.2rem;
          margin-left: 7.7rem;
          top: -26.9rem;

            .header__btn{
              width: 12.8rem;
            }
        }
      .header__img{
        margin-top: -29.2rem;
        position: relative;
        top: 12.5rem;

          img{
            height: 31.3rem;
          }
      }

      }
    }
  }
