.main{
  height: 66.4rem;
  @media #{$med-screen-md-q}{
    height: 55.2rem;
  }
  @media #{$smaller-screen-md-q}{
    height: 38.9rem;
  }
  @media #{$smallest-screen-md-q}{
    height: 28.9rem;
  }

    .form{
      @include flex($flex-col);
      justify-content: center;
      align-items: center;
      margin-top: 34.4rem;
      @media #{$med-screen-md-q}{
        margin-top: 23.7rem;
      }
      @media #{$smaller-screen-md-q}{
        margin-top: 20.2rem;
      }
      @media #{$smallest-screen-md-q}{
        margin-top: 14.4rem;
      }

        &__heading{
          font-size: $font-larger;
          font-weight: bold;
          @media #{$med-screen-md-q}{
            font-size: $font-maxi-md-q;
            margin-top: 4.8rem;
          }
          @media #{$smaller-screen-md-q}{
            font-size: $font-larger-md-q-2;
          }
          @media #{$smallest-screen-md-q}{
            font-size: $font-larger-md-q-2;
          }
        }

        &__input{
          margin-top: 1.8rem;
          display: inline-block;
          @media #{$med-screen-md-q}{
            margin-top: 3.2rem;
          }
          @media #{$smaller-screen-md-q}{
            margin-top: 2.2rem;
          }
          @media #{$smallest-screen-md-q}{
            margin-top: 2.1rem;
          }
        }

        .input{

          background-color: $grey-clr;
          padding: 0.2rem 1rem;
          border: thin solid darken($grey-clr, 4%);
          color: $black-clr;
          width: 37.5rem;
          height: 4.1rem;
          border-radius: 0.8rem;
          margin-right: 4rem;
          @media #{$med-screen-md-q}{
            width: 28.9rem;
            height: 2.8rem;
          }
          @media #{$smaller-screen-md-q}{
            width: 19.6rem;
            height: 1.8rem;
            margin-right: 1.7rem;
          }
          @media #{$smallest-screen-md-q}{
            width: 19.5rem;
            height: 1.8rem;
            margin-left: 1.6rem;
            margin-right: 2.3rem;
            padding-right: 0;
          }

            &:focus{
              background: linear-gradient(90deg, rgba(138,0,131,.5) 7%,
              rgba(172,137,170,1) 30%,
              rgba(255,255,255,0.9682072658164829) 68%);
            }

            &:valid{
              background: linear-gradient(90deg, rgba(0,138,10,0.6124649688977153) 7%,
              rgba(109,167,114,0.5508403190377713) 30%,
              rgba(255,255,255,0.9682072658164829) 68%);
            }

            &::placeholder{
              font-size: $font-smaller;
              color: $black-clr;
              text-align: center;
              @media #{$med-screen-md-q}{
                font-size: $font-smaller-md-q;
              }
              @media #{$smaller-screen-md-q}{
                font-size: $font-smaller-md-q-2;
              }
              @media #{$smallest-screen-md-q}{
                font-size: $font-small-md-q-2--1;
              }
            }
        }
    }
}
