footer.footer{
  @include flex($flex-row);
  background-color: $purple-clr;
  justify-content: space-around;
  height: 37rem;
  padding: 5rem 15.2rem 0 9.1rem;

    .footer__links-list ul:first-child,
    .footer__links-list ul:nth-child(2){
      margin-bottom: 1.6rem;
    }
}

.footer__left-box{
  margin-top: 3.7rem;
}

ul.footer__link{
  border-color: transparent;
  border-style: solid;
  border-width: thin;
  transition: all .3s;
}


.footer__bottom-text{
  margin-top: 14.9rem;
}

.footer__links-list,
.footer__bottom-text{
  font-size: $font-small;
}

.footer__map,
.footer__map--canvas{
  height: 28.8rem;
  width: 36.6rem;
}
.footer__map{
  position: relative;
  text-align: right;
}
.footer__map--canvas {
  overflow: hidden;
  border-radius: 2rem;
  background: none;
}

footer.footer .footer__right-box{
  font-size: $font-smaller;
  text-align: left;
  margin-top: 3.3rem;

    .footer__text{
      margin-bottom: 2.8rem;
    }
}

//icons

.footer__map-icon,
.footer__phone-icon{
  font-size: $small-icon;
  margin-right: 1.2rem;
}

.footer__social-media span:first-child{
  margin-right: 1.2rem;
}

.footer__twitter-icon,
.footer__fb-icon{
  font-size: $large-icon;
  position: relative;
}

.social-med__icon::after{
  @include after(-4, 110%, 110%, 0, 0);
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem;
}

//on-hover and active states

div.footer__left-box .footer__links-list .footer__link:hover{
  border-left-color: $white-clr;
  border-bottom-color: $white-clr;
  box-shadow: -4px 4px 18px -6px $white-clr;
}

div.footer__left-box .footer__links-list .footer__link:active{
  background-color: darken($purple-clr, 8%);
  border-top-color: $white-clr;
  border-right-color: $white-clr;
}
