@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "varNmixins";
@import "nav";
@import "header";
@import "main";
@import "footer";

//general styling:

html,
body,
button,
nav,
ul,
h2 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  @include flex($flex-col);
  margin: inherit;
  font-family: $font-family-main;
  color: $white-clr;
  width: 100vw;
}

//buttons
.btn {
  font-size: $font-medium;
  border-radius: 3rem;
  height: 4.5rem;
  border-style: solid;
  border-width: thin;
  outline: 0;

  &:hover {
    cursor: pointer;
  }

  &--purple {
    @include btn-config($purple-clr, $white-clr);

    &:hover {
      color: $black-clr;

      &::after {
        @include hover-after();
      }
    }

    &::after {
      @include after(-3, 0, 100%, 0, 0);
      background-color: $white-clr;
      border-radius: 3rem;
    }

    &:active::after {
      background-color: darken($purple-clr, 8%);
      @include active-after();
    }
  }

  &--white {
    @include btn-config($white-clr, $purple-clr);

    &:hover {
      color: $white-clr;

      &::after {
        @include hover-after();
      }
    }

    &::after {
      @include after(-3, 0, 100%, 0, 0);
      background-color: $purple-clr;
      border-radius: 3rem;
    }

    &:active::after {
      background-color: lighten($white-clr, 8%);
      @include active-after();
    }
  }

  //screens 1194 x 1532

  @media (min-width: 835px) and (max-width: 1194px) {
    font-size: $font-medium-md-q;
    height: 3.8rem;
  }

  //screens 834 x 1501 and 414 x 1362

  @media (min-width: 0) and (max-width: 834px) {
    font-size: $font-medium-md-q-2;
    height: 2.4rem;
  }
}

//lists
.list {
  list-style: none;
}

//links
.link {

  &>a:link,
  &>a:active,
  &>a:visited {
    text-decoration: none;
    color: $white-clr;
  }
}

//text

.text {
  &--uppercase {
    text-transform: uppercase;
  }

  &--dark {
    color: $black-clr;
  }
}
