@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "varNmixins";
@import "nav";
@import "header";
@import "main";
@import "footer";
@import "animations";

//general styling:

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  @include flex($flex-col);
  margin: inherit;
  font-family: $font-family-main;
  color: $white-clr;
  width: 100vw;
}


//buttons
.btn{
  font-size: $font-medium;
  border-radius: 3rem;
  height: 4.5rem;
  border-style: solid;
  border-width: thin;
  outline: 0;

}

.btn--purple{
  @include btn-config($purple-clr, $white-clr);
}

.btn--white{
  @include btn-config($white-clr, $purple-clr);
}
//lists
.list{
  list-style: none;
}

//links
.link{
  &>a:link,
  &>a:active,
  &>a:visited{
    text-decoration: none;
    color: $white-clr;
  }
}

//text

.text--uppercase{
  text-transform: uppercase;
}

.text--dark{
  color: $black-clr;
}

//on-hover and active states

.btn--purple::after{
  @include after(-3, 0, 100%, 0, 0);
  background-color: $white-clr;
  border-radius: 3rem;
}

.btn--white::after{
  @include after(-3, 0, 100%, 0, 0);
  background-color: $purple-clr;
  border-radius: 3rem;
}

.btn:hover{
  cursor: pointer;
}

.btn--purple:hover{
  color: $black-clr;
}

.btn--white:hover{
  color: $white-clr;
}

.btn--purple:hover::after,
.btn--white:hover::after{
  width: 100%;
  height: 100%;
}

.btn--purple:active::after,
.btn--white:active::after{
  transform: scaleX(1) scaleY(0);
}

.btn--purple:active::after{
  background-color: darken($purple-clr, 8%);
}

.btn--white:active::after{
  background-color: lighten($white-clr, 8%);
}
