@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

//colors:
$purple-clr: #8A0083;
$white-clr: #fff;
$black-clr: #000;
$grey-clr: #E3DBDB;
//fonts:
$font-family-main: 'Roboto', sans-serif;
$font-smaller: 1.6rem;
$font-small: 1.8rem;
$font-medium: 2.4rem;
$font-large: 3.6rem;
$font-larger: 3.8rem;
$font-maxi: 4rem;
//icons size:
$small-icon: 2rem;
$large-icon: 3.2rem;
//flexbox settings var:
$flex-col: column;
$flex-row: row;
//mixins:
@mixin flex($dir){
  display: flex;
  flex-direction: $dir;
}

@mixin btn-after($col){
  content: "";
  background-color: $col;
  display: inline-block;
  height: 100%;
  width: 0%;
  border-radius: 3rem;
  position: absolute;
  transition: all .3s;
  z-index: -3;
  top: 0;
  left: 0;
}
//styling:

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  @include flex($flex-col);
  //z-index: -1;
  margin: inherit;
  font-family: $font-family-main;
  color: $white-clr;
  min-width: 100vw;
  max-width: 100vw;
}
// -----------navbar-------------
nav.nav{
  @include flex($flex-row);
  justify-content: space-between;
  background-color: $purple-clr;
  padding: 4.4rem 15.8rem 4.4rem 15.8rem;
  max-width: 100vw;

    .nav__logo--text{
      color: $white-clr;
      font-size: $font-large;
      text-transform: capitalize;

      span{
        opacity: 0;
        }

      span:first-child{
        animation: appear 3s ease .1s;
        animation-fill-mode: forwards;
      }
      span:nth-child(2){
        animation: appear 3s ease .4s;
        animation-fill-mode: forwards;
      }
      span:last-child{
        animation: appear 3s ease .8s;
        animation-fill-mode: forwards;
      }
    }
  }

  .nav__links-box{
    @include flex($flex-row);
    justify-content: space-between;
    width: 42.3rem;
    margin-top: -0.3rem;
    padding-left: 5.3rem;

    .nav__links-list .nav__link{
      display: inline-block;
      font-size: $font-smaller;

        a{
          transition: all .6s;
          padding: 1.2rem;
          border: 0.1px solid transparent;
          outline: 0;
        }
    }
}

.nav__links-list ul:first-child,
.nav__links-list ul:nth-child(2),
.nav__links-list ul:nth-child(3){
  margin-right: 3rem;

}

.nav__button{
  width: 17.3rem;
  margin-top: -0.3rem;
  margin-right: -6.4rem;
}

.btn{
  font-size: $font-medium;
  border-radius: 3rem;
  height: 4.5rem;
  border-style: solid;
  border-width: thin;
  outline: 0;

}

.btn-purple{
  background-color: $purple-clr;
  color: $white-clr;
  position: relative;
  z-index: 5;
}

.btn-white{
  background-color: $white-clr;
  color: $black-clr;
  position: relative;
  z-index: 5;
}

.list{
  list-style: none;
}

.link{
  &>a:link,
  &>a:active,
  &>a:visited{
    text-decoration: none;
    color: $white-clr;
  }
}

// -------------header--------------
header.header{
  @include flex($flex-col);
  background-color: $purple-clr;
  justify-content: center;
  align-items: center;
  padding-top: 13.1rem;
  height: 54.9rem;

  .header__box{
    width: 80.6rem;
    margin-top: 27.2rem;
  }
}

.header__img{
  height: 53.8rem;
  margin-top: 9.1rem;
  width: inherit;

    img{
      height: inherit;
      width: inherit;
    }
}

h1.header__text{
  font-size: $font-maxi;
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;

  p{
    padding-left: 0.8rem;
  }
}

.header__buttons-box{
  margin-left: 16.4rem;
  padding-top: 4.5rem;

  .header__btn{
    width: 22rem;
    box-shadow: 4px 6px 27px -8px rgba($black-clr,.45);
;
  }

  button:first-child{
    margin-right: 6rem;
  }

  button:nth-child(2){
    background-color: transparent;
  }
}

footer.footer{
  @include flex($flex-row);
  background-color: $purple-clr;
  margin: inherit;
}

//--------------------main----------------
main.main{
  height: 66.4rem;

    .form__subscribe{
      @include flex($flex-col);
      justify-content: center;
      align-items: center;
      margin-top: 34.4rem;

        h2.form__subscribe--heading{
          font-size: $font-larger;
          font-weight: bold;
        }

        label.form__label--text-p{
          font-size: $font-medium;
          font-weight: 300;
          margin-top: 1.8rem;
        }

        div input.form__input{
          background-color: $grey-clr;
          padding: 0.2rem 1rem;
          border-style: solid;
          border-width: thin;
          border-color: darken($grey-clr, 4%);
          color: $black-clr;
          width: 37.5rem;
          height: 4.1rem;
          border-radius: 0.8rem;
          margin-right: 4rem;

            &:focus{
              background: linear-gradient(90deg, rgba(138,0,131,.5) 7%,
              rgba(172,137,170,1) 30%,
              rgba(255,255,255,0.9682072658164829) 68%);
            }

            &:valid{
              background: linear-gradient(90deg, rgba(0,138,10,0.6124649688977153) 7%,
              rgba(109,167,114,0.5508403190377713) 30%,
              rgba(255,255,255,0.9682072658164829) 68%);
            }

            &::placeholder{
              font-size: $font-smaller;
              color: $black-clr;
              text-align: center;
            }
        }
    }
}

.form__subscribe-input-box{
  display: inline-block;
  margin-top: 4.2rem;

    .form__btn{
      width: 20.3rem;
      border-color: $purple-clr;
    }
}

.text-uppercase{
  text-transform: uppercase;
}

.text-dark{
  color: $black-clr;
}


//-------------------footer---------------
footer.footer{
  @include flex($flex-row);
  justify-content: space-around;
  height: 37rem;
  padding: 5rem 15.2rem 0 9.1rem;

    .footer__links-list ul:first-child,
    .footer__links-list ul:nth-child(2){
      margin-bottom: 1.6rem;
    }
}

.footer__left-box{
  margin-top: 3.7rem;
}

ul.footer__link{
  border-color: transparent;
  border-style: solid;
  border-width: thin;
  transition: all .3s;

    &:hover{
      border-left-color: $white-clr;
      border-bottom-color: $white-clr;
      box-shadow: -4px 4px 18px -6px $white-clr;
    }

    &:active{
      background-color: darken($purple-clr, 8%);
      border-top-color: $white-clr;
      border-right-color: $white-clr;
    }
}


.footer__bottom-text{
  margin-top: 14.9rem;
}

.footer__links-list,
.footer__bottom-text{
  font-size: $font-small;
}

.footer__map,
.footer__map--canvas{
  height: 28.8rem;
  width: 36.6rem;
}
.footer__map{
  position: relative;
  text-align: right;
}
.footer__map--canvas {
  overflow: hidden;
  border-radius: 2rem;
  background: none;
}

footer.footer .footer__right-box{
  font-size: $font-smaller;
  text-align: left;
  margin-top: 3.3rem;

    .footer__text{
      margin-bottom: 2.8rem;
    }
}

//icons

.footer__map-icon,
.footer__phone-icon{
  font-size: $small-icon;
  margin-right: 1.2rem;
}

.footer__social-media span:first-child{
  margin-right: 1.2rem;
}

.footer__twitter-icon,
.footer__fb-icon{
  font-size: $large-icon;
}

//--------------on hover and active states effects----------------
//btns

.btn-purple::after{
  @include btn-after($white-clr);
}

.btn-white::after{
  @include btn-after($purple-clr);
}

.btn:hover{
  cursor: pointer;
}

.btn-purple:hover{
  color: $black-clr;
}

.btn-white:hover{
  color: $white-clr;
}

.btn-purple:hover::after,
.btn-white:hover::after{
  width: 100%;
  height: 100%;
}

.btn-purple:active::after,
.btn-white:active::after{
  transform: scaleX(1) scaleY(0);
}

.btn-purple:active::after{
  background-color: darken($purple-clr, 8%);
}

.btn-white:active::after{
  background-color: lighten($white-clr, 8%);
}

//menu

div.nav__links-box .nav__links-list .nav__link a:hover{
  border-top: 0.1px solid $white-clr;
  border-bottom: 0.1px solid $white-clr;
  box-shadow: -1px 16px 21px -17px $white-clr;
}

div.nav__links-box .nav__links-list .nav__link a:active{
  background-color: darken($purple-clr, 5%);
  border: 0.1px solid transparent;
  box-shadow: 0px 3px 22px -10px $white-clr;
}

//------------on-load animations-----

@keyframes appear{
  to {
    opacity: 1;
  }
}
